<body>
  <div id="container">
    <div id="header">
      <div id="logo">Online Shop</div>
    </div>
    <div id="main">
      <div id="banner"></div>
      <div id="info">
        <div class="big_title">Email Confirmation</div>
        <p>
          Hello! In order to access certain features, such as the checkout
          function on our website, we kindly ask you to verify your email.
          Please click the button below to receive a verification link in your
          email inbox.
        </p>
      </div>
      <div id="verify">
        <button (click)="sendEmail()" nz-button type="button">
          Verify Your Email
        </button>
      </div>
    </div>
  </div>
</body>
